# NBA Playoffs Predictor

In [1]:
from path import Path
import pandas as pd

In [2]:
data = Path('../Data/NBA_Salary3.csv')
df = pd.read_csv(data)
df.head()

,Salary cap,Playoffs,Wins,Losses,PCT,FG,FG%,3P,3P%,2P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,178980766,Yes,53,29,0.646,40.5,0.469,14.3,0.364,26.2,...,0.769,9.8,35.7,45.5,27.1,8.8,4.5,14.9,21.0,111.0
1,174811922,Yes,44,38,0.537,42.0,0.475,11.5,0.361,30.5,...,0.805,10.3,34.1,44.4,25.3,7.1,5.5,14.1,20.4,112.0
2,168378382,No,42,40,0.512,40.1,0.458,12.8,0.374,27.3,...,0.793,9.1,34.9,44.0,24.0,7.4,5.0,13.7,18.6,108.4
3,164409293,No,33,49,0.402,41.6,0.469,12.0,0.347,29.7,...,0.732,9.5,34.5,44.0,24.0,7.6,5.2,14.5,20.2,112.1
4,162135421,Yes,51,31,0.622,41.8,0.468,14.1,0.366,27.8,...,0.776,10.2,36.5,46.7,23.9,7.6,4.0,13.4,18.2,115.5

In [3]:
# Convert the target column values to 1 and 0 based on their values

x = {'Yes': '1'}   
df = df.replace(x)

x = {'No': '0'}   
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,Salary cap,Playoffs,Wins,Losses,PCT,FG,FG%,3P,3P%,2P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,178980766,1,53,29,0.646,40.5,0.469,14.3,0.364,26.2,...,0.769,9.8,35.7,45.5,27.1,8.8,4.5,14.9,21.0,111.0
1,174811922,1,44,38,0.537,42.0,0.475,11.5,0.361,30.5,...,0.805,10.3,34.1,44.4,25.3,7.1,5.5,14.1,20.4,112.0
2,168378382,0,42,40,0.512,40.1,0.458,12.8,0.374,27.3,...,0.793,9.1,34.9,44.0,24.0,7.4,5.0,13.7,18.6,108.4
3,164409293,0,33,49,0.402,41.6,0.469,12.0,0.347,29.7,...,0.732,9.5,34.5,44.0,24.0,7.6,5.2,14.5,20.2,112.1
4,162135421,1,51,31,0.622,41.8,0.468,14.1,0.366,27.8,...,0.776,10.2,36.5,46.7,23.9,7.6,4.0,13.4,18.2,115.5

### Scaling Data

In [4]:
# Creating the scaler instance
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [5]:
df_scaled = data_scaler.fit_transform(df)
df_scaled[:5]

array([[ 3.16109129e+00,  9.48015916e-01,  1.21115596e+00,
        -8.76111162e-01,  1.02368103e+00, -1.13534389e-01,
         5.20138472e-01,  1.48443520e+00,  3.32249108e-01,
        -1.24661450e+00,  1.56740055e+00, -1.05196325e+00,
        -1.15324078e-01, -2.70490950e-01,  8.17270252e-01,
         5.49104460e-01,  1.43689610e+00,  1.49024001e+00,
        -4.89292732e-01,  7.47243859e-01,  6.47281176e-01,
         1.38282216e-01],
       [ 2.92268349e+00,  9.48015916e-01,  4.39537016e-01,
        -7.53325102e-02,  2.63901429e-01,  8.15383336e-01,
         9.51589738e-01, -1.96510564e-01,  1.33693864e-01,
         7.70105719e-01,  6.70033824e-01,  1.74251581e-01,
         1.14530350e+00,  2.20715376e-01, -1.67887259e-01,
        -2.21580614e-02,  4.96838076e-01, -7.03820052e-01,
         9.30318676e-01, -1.87279163e-03,  2.14478012e-01,
         3.70819575e-01],
       [ 2.55476229e+00, -1.05483461e+00,  2.68066138e-01,
         1.02618301e-01,  8.96400522e-02, -3.61245782e-01,
        -2.70855517e-01,  5.83928541e-01,  9.94099922e-01,
        -7.30709324e-01, -5.57941700e-01, -1.11650087e+00,
         7.25094304e-01, -9.58179807e-01,  3.24691497e-01,
        -2.29889887e-01, -1.82092722e-01, -3.16632982e-01,
         2.20512972e-01, -3.76431117e-01, -1.08393148e+00,
        -4.66314917e-01],
       [ 2.32777807e+00, -1.05483461e+00, -5.03552810e-01,
         9.03396953e-01, -6.77110006e-01,  5.67671943e-01,
         5.20138472e-01,  1.03658322e-01, -7.92897275e-01,
         3.94901958e-01,  1.04787245e+00, -2.77511778e-01,
        -1.41096908e+00, -5.65214746e-01,  7.84021186e-02,
        -2.29889887e-01, -1.82092722e-01, -5.85082684e-02,
         5.04435254e-01,  3.72685534e-01,  7.02102910e-02,
         3.94073311e-01],
       [ 2.19773991e+00,  9.48015916e-01,  1.03968509e+00,
        -6.98160351e-01,  8.56390110e-01,  6.91527640e-01,
         4.48229927e-01,  1.36436765e+00,  4.64619271e-01,
        -4.96206974e-01,  9.53412791e-01,  3.67864450e-01,
         1.29797950e-01,  1.22474111e-01,  1.30984901e+00,
         1.17229994e+00, -2.34318168e-01, -5.85082684e-02,
        -1.19909844e+00, -6.57349861e-01, -1.37246692e+00,
         1.18470033e+00]])

In [6]:
import numpy as np
print(np.mean(df_scaled[:,0]))
print(np.std(df_scaled[:,0]))

4.7369515717340015e-17
1.0

## Logistic Regression

 ### Separate the Features (X) from the Target (y)

In [7]:
y = df["Playoffs"]
X = df.drop(columns="Playoffs")

 ### Split our data into training and testing

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(112, 21)

In [9]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

 ### Create a Logistic Regression Model

In [10]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

 ### Fit (train) or model using the training data

In [11]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=200, random_state=1)

 ### Make predictions

In [12]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

/Users/bdang/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

   Prediction Actual
0           1      1
1           1      0
2           1      0
3           1      0
4           1      1
5           1      0
6           1      1
7           1      1
8           1      0
9           1      1
10          1      1
11          1      1
12          1      1
13          1      0
14          1      1
15          1      1
16          1      1
17          1      0
18          1      1
19          1      1

In [13]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.5263157894736842