In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import requests
import json

In [39]:
#Importing the dataset
df = pd.read_excel(r'C:\Users\Zach Pausa\PythonStuff\Final project practice\NBA_Salary.xlsx')
print(df)

             Team  Salary cap     Season  Wins  Losses    PCT
0    Golden State   178980766  2021/2022    53      29  0.646
1        Brooklyn   174811922  2021/2022    44      38  0.537
2     LA Clippers   168378382  2021/2022    42      40  0.512
3       LA Lakers   164409293  2021/2022    33      49  0.402
4       Milwaukee   162135421  2021/2022    51      31  0.622
..            ...         ...        ...   ...     ...    ...
145      Brooklyn    95475397  2017/2018    28      54  0.341
146       Indiana    95271736  2017/2018    48      34  0.585
147       Phoenix    92684083  2017/2018    21      61  0.256
148       Chicago    90466801  2017/2018    27      55  0.329
149        Dallas    85440245  2017/2018    24      58  0.293

[150 rows x 6 columns]

In [42]:
NBA_df = df.drop(['Team','Season','Wins','Losses'], axis=1)
print(NBA_df)

     Salary cap    PCT
0     178980766  0.646
1     174811922  0.537
2     168378382  0.512
3     164409293  0.402
4     162135421  0.622
..          ...    ...
145    95475397  0.341
146    95271736  0.585
147    92684083  0.256
148    90466801  0.329
149    85440245  0.293

[150 rows x 2 columns]

In [44]:
X = NBA_df.iloc[:, :-1].values
y = NBA_df.iloc[:, 1].values
df

             Team  Salary cap     Season  Wins  Losses    PCT
0    Golden State   178980766  2021/2022    53      29  0.646
1        Brooklyn   174811922  2021/2022    44      38  0.537
2     LA Clippers   168378382  2021/2022    42      40  0.512
3       LA Lakers   164409293  2021/2022    33      49  0.402
4       Milwaukee   162135421  2021/2022    51      31  0.622
..            ...         ...        ...   ...     ...    ...
145      Brooklyn    95475397  2017/2018    28      54  0.341
146       Indiana    95271736  2017/2018    48      34  0.585
147       Phoenix    92684083  2017/2018    21      61  0.256
148       Chicago    90466801  2017/2018    27      55  0.329
149        Dallas    85440245  2017/2018    24      58  0.293

[150 rows x 6 columns]

In [45]:
print(X)

[[178980766]
 [174811922]
 [168378382]
 [164409293]
 [162135421]
 [149364516]
 [148922969]
 [140840240]
 [138598410]
 [138181486]
 [138096726]
 [137098327]
 [136476474]
 [136385911]
 [136166020]
 [136083814]
 [135793968]
 [134671484]
 [132267085]
 [131120355]
 [130457848]
 [128019790]
 [127655401]
 [126786646]
 [124788473]
 [124600538]
 [122624081]
 [122139566]
 [117284457]
 [ 82022873]
 [171105334]
 [170444633]
 [147825311]
 [139722606]
 [139334713]
 [136881324]
 [136623929]
 [134731235]
 [133901495]
 [132931565]
 [132022601]
 [131904647]
 [131784255]
 [131294012]
 [130334934]
 [130237102]
 [129793210]
 [129605319]
 [129537825]
 [129131910]
 [128963580]
 [128858241]
 [127657823]
 [121739163]
 [118804016]
 [117041599]
 [108218809]
 [106847430]
 [102137151]
 [ 95774839]
 [132017938]
 [131979953]
 [131506341]
 [131059022]
 [129912339]
 [129867871]
 [129254928]
 [128746180]
 [128109922]
 [126095610]
 [123971686]
 [122612183]
 [122463495]
 [121296256]
 [120871082]
 [119217331]
 [118910311]
 [118889943]
 [117868297]
 [117759332]
 [114202982]
 [113796966]
 [112872260]
 [112601901]
 [110702618]
 [104527576]
 [100232129]
 [ 98539675]
 [ 98495848]
 [ 96552033]
 [153171497]
 [146291276]
 [144916427]
 [137793831]
 [130988604]
 [130256600]
 [126557932]
 [126474100]
 [125334993]
 [125188633]
 [123747588]
 [123387454]
 [123255073]
 [121962221]
 [121588790]
 [121427859]
 [118850600]
 [118327016]
 [118026816]
 [116052756]
 [115127167]
 [114394213]
 [113826156]
 [112598201]
 [110724804]
 [108692835]
 [107225482]
 [101466920]
 [ 86958881]
 [ 79180081]
 [137722926]
 [137610134]
 [134534640]
 [133624374]
 [123306396]
 [120814452]
 [120521249]
 [119905532]
 [119773191]
 [119093010]
 [118708146]
 [117382664]
 [116929373]
 [116075131]
 [115284776]
 [114633844]
 [110700149]
 [107543599]
 [105606838]
 [105403130]
 [103126557]
 [100797386]
 [ 99992696]
 [ 99587185]
 [ 98700258]
 [ 95475397]
 [ 95271736]
 [ 92684083]
 [ 90466801]
 [ 85440245]]

In [46]:
print(y)

[0.646 0.537 0.512 0.402 0.622 0.598 0.622 0.646 0.585 0.305 0.622 0.561
 0.78  0.537 0.524 0.561 0.439 0.585 0.244 0.28  0.366 0.427 0.415 0.293
 0.329 0.634 0.451 0.524 0.683 0.293 0.542 0.667 0.681 0.653 0.583 0.722
 0.639 0.556 0.431 0.5   0.528 0.583 0.236 0.472 0.319 0.472 0.653 0.306
 0.458 0.375 0.431 0.708 0.583 0.292 0.569 0.278 0.458 0.431 0.569 0.306
 0.611 0.473 0.681 0.292 0.589 0.603 0.231 0.63  0.611 0.452 0.732 0.767
 0.736 0.347 0.573 0.451 0.611 0.486 0.417 0.667 0.297 0.431 0.616 0.338
 0.299 0.303 0.318 0.466 0.466 0.354 0.476 0.695 0.598 0.707 0.732 0.646
 0.5   0.646 0.598 0.402 0.39  0.207 0.232 0.439 0.585 0.476 0.512 0.659
 0.585 0.402 0.622 0.512 0.61  0.268 0.585 0.232 0.451 0.476 0.402 0.354
 0.61  0.707 0.585 0.537 0.524 0.585 0.537 0.793 0.476 0.512 0.598 0.439
 0.72  0.573 0.671 0.573 0.268 0.561 0.585 0.354 0.427 0.634 0.293 0.329
 0.305 0.341 0.585 0.256 0.329 0.293]

In [47]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [48]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [49]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [50]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [51]:
# Loading model to compare the results
model = pickle.load( open('model.pkl','rb'))
print(model.predict([[1]]))

[0.09010762]