In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import requests
import json

In [3]:
#Importing the dataset
df = pd.read_excel(r'C:\Users\Zach Pausa\PythonStuff\Final project practice\NBA_Salary.xlsx')
print(df)

             Team  Salary cap     Season  Wins  Losses    PCT
0    Golden State   178980766  2021/2022    53      29  0.646
1        Brooklyn   174811922  2021/2022    44      38  0.537
2     LA Clippers   168378382  2021/2022    42      40  0.512
3       LA Lakers   164409293  2021/2022    33      49  0.402
4       Milwaukee   162135421  2021/2022    51      31  0.622
..            ...         ...        ...   ...     ...    ...
145      Brooklyn    95475397  2017/2018    28      54  0.341
146       Indiana    95271736  2017/2018    48      34  0.585
147       Phoenix    92684083  2017/2018    21      61  0.256
148       Chicago    90466801  2017/2018    27      55  0.329
149        Dallas    85440245  2017/2018    24      58  0.293

[150 rows x 6 columns]

In [4]:
NBA_df = df.drop(['Team','Season','Wins','Losses'], axis=1)
print(NBA_df)

     Salary cap    PCT
0     178980766  0.646
1     174811922  0.537
2     168378382  0.512
3     164409293  0.402
4     162135421  0.622
..          ...    ...
145    95475397  0.341
146    95271736  0.585
147    92684083  0.256
148    90466801  0.329
149    85440245  0.293

[150 rows x 2 columns]

In [14]:
X = NBA_df.drop(columns="PCT")
y = NBA_df["PCT"]
df

             Team  Salary cap     Season  Wins  Losses    PCT
0    Golden State   178980766  2021/2022    53      29  0.646
1        Brooklyn   174811922  2021/2022    44      38  0.537
2     LA Clippers   168378382  2021/2022    42      40  0.512
3       LA Lakers   164409293  2021/2022    33      49  0.402
4       Milwaukee   162135421  2021/2022    51      31  0.622
..            ...         ...        ...   ...     ...    ...
145      Brooklyn    95475397  2017/2018    28      54  0.341
146       Indiana    95271736  2017/2018    48      34  0.585
147       Phoenix    92684083  2017/2018    21      61  0.256
148       Chicago    90466801  2017/2018    27      55  0.329
149        Dallas    85440245  2017/2018    24      58  0.293

[150 rows x 6 columns]

In [15]:
print(X)

     Salary cap
0     178980766
1     174811922
2     168378382
3     164409293
4     162135421
..          ...
145    95475397
146    95271736
147    92684083
148    90466801
149    85440245

[150 rows x 1 columns]

In [16]:
print(y)

0      0.646
1      0.537
2      0.512
3      0.402
4      0.622
       ...
145    0.341
146    0.585
147    0.256
148    0.329
149    0.293
Name: PCT, Length: 150, dtype: float64

In [17]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [18]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [19]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [20]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [28]:
# Loading model to compare the results
model = pickle.load( open('model.pkl','rb'))
print(model.predict([[1]]))

[0.09010762]